:root {
    --links: #0088CC;
    --page-background: #FFFFFF;
    --header-links: #FFFFFF;
    --titles: #1E0C33;
    --section-titles: #1E0C33;
    --highlight: #EC643C;
    --footer-links: #0088CC;
    --boxes-border: #E5E5E5;
    --boxes-background: #FFFFFF;
    --header-background: #1E0C33;
    --footer-background: #FFFFFF;
    --text: #333333;
    --section-titles-background: #FFFFFF;
}