{{ define "title" }} {{ .Title }} &ndash; {{ .Site.Title }} {{ end }}
{{ define "main"}}
<section class="section resources">
  <div class="columns container is-max-widescreen">
    <div class="column is-10">
      <h1 class="title is-1">{{ .CurrentSection.Title }} - {{ .Title }}</h1>
      <div class="content">
        {{ .Content }}
      </div>
      {{ range sort (.Page.Resources.Match "*/index.md") "Name" }}
      <div class="block">
        <h2 class="title is-2" id="{{ .Title | anchorize }}">
          {{ .Title | markdownify }} {{ if ge .Date (now.AddDate 0 -2 0) }}
          <span class="tag is-rounded is-info">New</span>
          {{ end }}
          <a class="is-link anchor" href="#{{ .Title | anchorize | safeURL }}">
            <span class="icon">
              <img src="/img/fas-link.svg" />
            </span>
          </a>
        </h2>
        <div class="content">
          {{ .Content }}
        </div>
        {{ with .Param "external_url" }}
        <p class="subtitle">
          <a target="_blank" href="{{ . }}">See it live!</a>
        </p>
        {{ end }}
        <div class="box">
          {{ partial "ods-theme.html" . }}
        </div>
      </div>
      {{ end }}
    </div>
    <div class="column is-hidden-mobile">
      <div class="block toc">
        <ul class="menu-list">
          <p class="menu-label">On this page</p>
          <li>
            <a href="#">
              Top
            </a>
          </li>
          {{ range sort (.Page.Resources.Match "*/index.md") "Name" }}
          <li>
            <a href="#{{ .Title | anchorize }}">
              {{ .Title }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
