/* ==========================================================================
    Bulma & Codelibrary variables
   ========================================================================== */

/** 
 * https://bulma.io/documentation/
*/

/* Typography
   ========================================================================== */

$body-size: 15px;
$size-1: 2.074rem;
$size-2: 1.728rem;
$size-3: 1.44rem;
$size-4: 1.2rem;
$size-5: 1rem;
$size-6: 0.833rem;
$size-7: 0.733rem;


$size-small: $size-7;
$size-normal: $size-5;
$size-medium: $size-4;
$size-large: $size-3;

/* Colors
   ========================================================================== */

$primary: #00C7B1;
$secondary: #142e7b;
$info: #0086D6;
$success: #4BC467;
$warning: #EFB71B;
$danger: #CE0037;

$body-background-color: #FFFFFF;

/* Radius
   ========================================================================== */

$radius-small: 4px;
$radius: 6px;
$radius-large: 8px;


/* Spacing
   ========================================================================== */

$spacing-100: 0.866rem; // 13px
$spacing-200: 1.733rem; // 26px
$spacing-300: 2.6rem; // 39px
$spacing-400: 4.3rem; // 65px


/* ==========================================================================
    Bulma Elements Customization
   ========================================================================== */

/* Box
   ========================================================================== */

$box-radius: $radius-large;
$box-shadow: 0 2px 3px rgba($black, .1);



/* ==========================================================================
    Bulma Components
   ========================================================================== */

/* Navbar
   ========================================================================== */

$navbar-background-color: $info;
$navbar-item-color: #FFFFFF;
$navbar-height: 5.3rem;
$navbar-padding-vertical: 0rem;
$navbar-padding-horizontal: 2.6rem;
$navbar-item-hover-color: #FFFFFF;
$navbar-item-hover-background-color: $secondary;
$navbar-item-active-background-color: $secondary;
$navbar-item-active-color: #FFFFFF;

/* Header Menu
   ========================================================================== */

$menu-item-active-background-color: $info;
$menu-item-active-color: #FFFFFF;

/* Sidebar Menu
   ========================================================================== */

$menu-item-active-color: $info;
$menu-item-active-background-color: $white;
$menu-item-hover-color: $info;
$menu-item-hover-background-color: transparent;
$menu-list-border-left: 0;
$menu-label-color: $black;
$menu-label-letter-spacing: 0;


/* Tags
   ========================================================================== */

$tag-background-color: #e6f0fa;
$tag-color: #024369;

/* Footer
   ========================================================================== */

$footer-background-color: #FFFFFF;
$footer-padding: $spacing-100 $spacing-300;
