
$blue: #0386D6;
$pink: #ff8080;
$pink-invert: #fff;
$family-sans-serif: "Helvetica", "Arial", sans-serif;
$primary: $pink;
$primary-invert: $pink-invert;

/* Navbar */
$navbar-background-color: $blue;
