/* ==========================================================================
    Bulma & Codelibrary variables
   ========================================================================== */

/**
 * https://bulma.io/documentation/
*/


/* Colors
   ========================================================================== */

$primary: #142e7b;
$info: #0086D6;
$success: #4BC467;
$warning: #EFB71B;
$danger: #CE0037;

$body-background-color: #FFFFFF;
$light: #F6F8FB;

$ods-title: #000000;
$ods-text: #565656;


/* Typography
   ========================================================================== */

$body-size: 15px;
$size-1: 2.466rem; // 37 px
$size-2: 1.935rem; // 29 px
$size-3: 1.5335rem; // 23 px
$size-4: 1.3rem;
$size-5: 1rem;
$size-6: 0.8rem;
$size-7: 0.64rem;

$size-small: $size-7;
$size-normal: $size-5;
$size-medium: $size-4;
$size-large: $size-3;

$title-color: $ods-title;
$subtitle-color: $ods-text;
$title-weight: 500;

/* Radius
   ========================================================================== */

$radius-small: 4px;
$radius: 6px;
$radius-large: 8px;

/* Spacing
   ========================================================================== */

$spacing-100: 0.866rem; // 13px
$spacing-200: 1.733rem; // 26px
$spacing-300: 2.6rem; // 39px
$spacing-400: 4.3rem; // 65px

/* Content
   ========================================================================== */

$content-heading-weight: 500;
$content-heading-line-height: 1.25;

/* ==========================================================================
    Bulma Elements Customization
   ========================================================================== */

/* Box
   ========================================================================== */

$box-radius: $radius;
$box-shadow: none;
$box-background-color: $light;
$box-padding: $spacing-100;


/* ==========================================================================
    Bulma Components
   ========================================================================== */

/* Navbar
   ========================================================================== */

$navbar-background-color: $info;
$navbar-item-color: #FFFFFF;
$navbar-height: 5.3rem;
$navbar-padding-vertical: 0rem;
$navbar-padding-horizontal: 2.6rem;
$navbar-item-hover-color: #FFFFFF;
$navbar-item-hover-background-color: $primary;
$navbar-item-active-background-color: $primary;
$navbar-item-active-color: #FFFFFF;
$navbar-burger-color: $info;
$navbar-box-shadow-size: 0;

/* Header Menu
   ========================================================================== */

$menu-item-active-background-color: $info;
$menu-item-active-color: #FFFFFF;

/* Sidebar Menu
   ========================================================================== */

$menu-item-color: #565656;
$menu-item-active-color: $info;
$menu-item-active-background-color: $white;
$menu-item-hover-color: $info;
$menu-item-hover-background-color: transparent;
$menu-list-border-left: 0;
$menu-label-color: #565656;
$menu-label-font-size: $size-6;
$menu-label-letter-spacing: 0;
$menu-nested-list-margin: 0;
$menu-list-link-padding: 5px 0 5px 0;

/* Tags
   ========================================================================== */

$tag-background-color: #e6f0fa;
$tag-color: #024369;

/* Footer
   ========================================================================== */

$footer-background-color: #FFFFFF;
$footer-padding: $spacing-100 $spacing-300;

/* Card
   ========================================================================== */

$card-background-color: $light;
$card-shadow: none;
