/* Code style. Codepen buttons
   ========================================================================== */

/* Everything related to code/iframe/codepen etc... */
/* ods-content */

pre {
  max-height: 600px;
}

button.copy-button {
  position: absolute;
  top: 15px;
  right: 10px;
}

a.edit-on-codepen {
  text-decoration: none;
  display: block;
  padding: .5rem 1rem;

  .codepen-edit-on-text {
    color: rgb(104, 104, 104);
    font-weight: 400;
    letter-spacing: 2px;
  }

  .codepen-logo {
    stroke: rgb(104, 104, 104);
    width: 100%;
  }
}


/* ods-theme */

/* Colors for ODS Templates theme */
.colors {
  margin: auto;

  ul {
    list-style: none;

    li {
      display: flex;
      align-items: center;

      .color {
        display: flex;
        align-items: center;

        .color-preview {
          display: block;
          width: 15px;
          height: 15px;
          border: 1px solid black;
          border-radius: 3px;
          margin-right: 7px;
        }
      }
    }
  }

  .highlight {
    padding: 0;
    margin: 0 5px;

    pre {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      code {
        padding: 0 5px;
      }

      button.copy-button {
        position: inherit;
      }
    }
  }
}
