.home {
  a {
    .box {
      height: 100%;
    }

    &:hover .box {
      border: 1px solid black;
      margin: -1px;
      box-shadow: unset;
    }
  }
}

.row {
  > .col,
  > [class*="col-"] {
    margin-top: var(--bs-gutter-x);
  }

  &.row-equal-height {
    display: flex;
    flex-wrap: wrap;
  }

  &.row-equal-height:before,
  &.row-equal-height:after {
    content: normal;
  }
}