nav.cl-nav {
  position: fixed;
  top: 80px;
  width: 350px;
  height: 100%;
  padding: 20px;
  background-color: whitesmoke;
}

/* Algolia */
.ais-infinite-hits--item > em {
  font-weight: 700;
}

#algolia-results {
  position: absolute;
  top: 110px;
  left: 100px;
  width: 700px;
  height: 400px;
  background-color: white;
  border: 1px solid;
  overflow: auto;
}