@charset "utf-8";

/* Import Bulma variables */
@import "bulma/sass/utilities/initial-variables";

/* Customize */
@import "bulma-custom";

/* Finally import bulma */
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";
@import "@creativebulma/bulma-tooltip/src/sass";

/* Fix Prism.js / Bulma conflict */
.token.tag,
.token.content,
.token.number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

/* Codelibrary */
@import "./elements/code";
@import "./elements/button";
@import "./elements/box";
@import "./elements/tag";
@import "./elements/content";
@import "./elements/van11y";

@import "./components/navbar";
@import "./components/sidebar";
@import "./components/footer";
@import "./components/tabs";
@import "./components/card";

@import "./pages/pages";

html {
  scroll-behavior: smooth;
}

.codelibrary {
  min-height: calc(100vh - 141px);
}
