$nav-bg: #f5f5f5;

// nav.cl-nav {
//   position: fixed;
//   top: 80px;
//   width: 350px;
//   height: 100%;
//   padding: 20px;
//   background-color: whitesmoke;
// }


/* Algolia */
.ais-infinite-hits--item > em {
  font-weight: 700;
}

#algolia-results {
  position: absolute;
  top: 110px;
  left: 0;
  width: 350px;
  max-height: calc(100% - 80px - 110px);
  padding: 10px 5px;
  background-color: $nav-bg;
  overflow: auto;
}

/* Override Algolia theme */
.ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item {
  width: 100%;
  background-color: white;
}
