/* Pages that use the list.html layout
   ========================================================================== */

.card-list,
.card-home {
  height: 100%;
  display: block;
  border: 1px solid $card-background-color;
  transition: all .2s;
}

.card-list:hover,
.card-home:hover {
  border-color: $primary;
}

.card-home {
  min-height: 160px;
}