/* Pages that use the list.html layout
   ========================================================================== */

.card-list {
  height: 100%;
  display: block;
  border: 1px solid $card-background-color;
  transition: all .2s;
}

.card-list:hover {
  border-color: $secondary;
}