/* Footer
   ========================================================================== */

.footer {
  border-top: 1px solid $grey-lighter;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  transition: all .2s;
}

.footer-link:hover {
  text-decoration: none;
  opacity: .7;
}

.footer-logo {
  height: 24px;
  width: auto;
  max-width: 100%;
  display: inline-block;
}

.footer-copyright {
  font-weight: 500;
  color: $grey;
}