/* Header Navigation Bar
   ========================================================================== */

.navbar {
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
}

.navbar-item {
    border-radius: $radius-small;
    padding: 8px;
    margin-right: 2px;
    text-transform: uppercase;
    align-self: center;
    font-size: $size-7;
}

.navbar-brand .navbar-item {
    padding: 0;
}