/* Header Navigation Bar
   ========================================================================== */

.navbar {
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
}

@media screen and (max-width: $widescreen) {
  .navbar-menu {
    box-shadow: none;
  }
}

.navbar-brand .navbar-item {
  margin-right: $spacing-400;
}

.navbar-burger {
  height: auto;
  align-self: center;
  border: none;
  background-color: $white;
  padding: 8px;
  border-radius: 4px;
  font-size: .833rem;
  line-height: 1.4;
}

.navbar-burger:hover {
  color: $white;
  background-color: $primary;
}

.navbar-item {
  color: white;
  border-radius: $radius-small;
  padding: 6px 8px;
  margin-right: 4px;
  text-transform: uppercase;
  align-self: center;
  font-size: .778rem;
  letter-spacing: 0.2px;
  font-weight: 600;
  line-height: 1.5;

  &:hover, &.is-active {
    text-decoration: none;
    background-color: $primary;
    color: white;
  }
}