/* Header Navigation Bar
   ========================================================================== */

.navbar {
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
}

.navbar-item {
    border-radius: $radius-small;
    padding: 8px;
    margin-right: 4px;
    text-transform: uppercase;
    align-self: center;
    font-size: $size-7;
    letter-spacing: .8px;
    font-weight: 500;
}

.navbar-brand {
    margin-right: $spacing-400;
}

.navbar-brand .navbar-item {
    padding: 0;
}