{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<div class="content">
    <section class="content-header container is-max-desktop">
        <h1 class="title">
            Codelibrary
        </h1>
        <h2 class="subtitle">
            The place to <span style="text-decoration: line-through;">be</span> copy
        </h2>
    </section>
    <section class="home-results container">
        {{ range $index, $elem := .Site.Sections }}
        <a class="card card-home"
           href="{{ $elem.RelPermalink }}">
            <div class="card-content">
                <h1 class="title">
                    {{ $elem.Title | humanize }}
                </h1>
                <p class="subtitle">
                    {{ index .Site.Data.sections ($elem.Title | lower) | safeHTML }}
                </p>
            </div>
        </a>
        {{ end }}
    </section>
</div>
{{ end }}


{{ define "footer" }}
{{ end }}
