{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

    <section class="container section is-max-desktop">
        <h1 class="title is-size-1 ">
            Welcome to the Code Library of Opendatasoft!
        </h1>
    </section>
    <section class="home-results container">
        {{ range .Site.Sections }}
        <a class="card card-home"
           href="{{ .RelPermalink }}">
            <div class="card-content">
                <h2 class="title is-size-3">
                    {{ .Title }}
                </h2>
                <p class="subtitle">
                    {{ .Description }}
                </p>
            </div>
        </a>
        {{ end }}
    </section>
    <section class="section">
        <h3 class="title is-3 is-flex is-align-items-baseline">
            Latest content
            <a href="/index.xml">
                <figure class="image is-16x16 mx-1"><img src="/img/rss.svg" alt="rss"></figure>
            </a>
        </h3>
        {{ range first 10 .Site.RegularPages }}
            {{ range where .Page.Resources ".Date" "ge" (now.AddDate -1 0 0) }}
            <div class="block">
                <h5 class="title is-5 is-flex breadcrumb">
                    <ul>
                        <li class="is-active">
                            <a href="{{ .Parent.RelPermalink }}">
                                {{ .Parent.Page.Title }}
                            </a>
                        <li>
                            <a href="{{ .Parent.RelPermalink }}#{{ .Title | anchorize }}">
                                {{ .Title }}
                            </a>
                        </li>
                    </ul>
                </h5>
                {{- if .Description -}}
                    {{ .Description | truncate 100 }}
                {{- else -}}
                    {{ .Content | replaceRE "<p>" "<p class=\"subtitle\">" | safeHTML | truncate 100 }}
                {{- end -}}
            </div>
            {{ end }}
        {{ end }}
    </section>
{{ end }}


{{ define "footer" }}
{{ end }}
