{{ define "main" }}
<div class="container-fluid">
    <h1 class="title is-1 mt-4">{{ if eq "tags" .Type }}Tag: {{ end}}{{ .Title | humanize }}</h1>
    <h3 class="subtitle is-3 mt-4">{{ index .Site.Data.sections .Page.Section | safeHTML }}</h3>
    <ul class="row">
        {{ range (.Paginator (.Site.Params.listPaginate | default 20)).Pages }}
        <li class="col-4 mb-4">
            <a href="{{ .Permalink }}" title="{{ .Title }}">
                <div class="box">
                    <h3 class="title is-5">{{ .Title }}</h3>
                    <h4 class="subtitle is-7">{{ if eq "" .Description}}{{ .Summary }}{{ else }}{{ .Description }}{{ end }}</h4>
                    <div class="tags">
                        {{ range .Params.tags }}
                        <div class="tag">{{ . }}</div>
                        {{ end }}
                    </div>
                </div>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}