{{ define "headimport" }}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css">
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css">
{{ end}}


{{ define "main" }}
<h1>_default list.html</h1>

<ul>
    {{ range (.Paginator (.Site.Params.listPaginate | default 20)).Pages }}
    <li>
        <a href="{{ .Permalink }}" title="{{ .Title }}">
            <span>{{ .Title }}</span>
        </a>
    </li>
    {{ end }}
</ul>

{{ end }}


{{ define "bodyimports" }}
{{ end }}