{{ define "main" }}
<div class="content">
    <section class="content-header container is-max-desktop mb-5">
        <h2 class="title">
            {{ if eq "tags" .Type }}Tag: {{ end}}{{ .Title | humanize }}
        </h2>
        <h3 class="subtitle is-3">
            {{ index .Site.Data.sections .Page.Section | safeHTML }}
        </h3>
    </section>
    <section class="list-results">
        {{ range (.Paginator (.Site.Params.listPaginate | default 20)).Pages }}
        <a href="{{ .Permalink }}"
           class="card card-list"
           title="{{ .Title }}">
            <div class="card-content">
                <h3 class="title">
                    {{ .Title }}
                </h3>
                <p class="subtitle">
                    {{ if eq "" .Description}}{{ .Summary }}{{ else }}{{ .Description }}{{ end }}
                </p>
                <div class="tags">
                    {{ range .Params.tags }}
                    <div class="tag">
                        {{ . }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </a>
        {{ end }}
    </section>
</div>
{{ end }}