/* Box
   ========================================================================== */
.box {
  border: 1px solid $grey-light;
}

.box-live-example {
  padding: $spacing-100;
  background-color: $white;
  position: relative;
  border-radius: $radius;

  button {
    border-radius: 0;
    border-bottom: none;

    &:first-child {
      border-top-left-radius: $radius;
    }

    &:last-child {
      border-bottom-right-radius: $radius;
      border-right: none;
    }
  }
}

.box-code {
  padding: $spacing-100;
  margin-bottom: 0;
  border-top: 1px solid $grey-light;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  background: $light;
}

.box-live-example .buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0;
  border-top-left-radius: $radius;
}

.box-schema {
  padding: .866rem;
  border-top: 1px solid #cbd2db;
  background: #f6f8fb;
}