/* Box
   ========================================================================== */
.box {
  border: 1px solid $grey-light;
}
// .box {
//   margin-bottom: $spacing-200;
//   color: $ods-text;
// }
//
// .box {
//   h2, p {
//     max-width: 960px;
//     margin-left: auto;
//     margin-right: auto;
//   }
//
//   ul {
//     max-width: 900px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
//
// .box h2 {
//   margin-bottom: 6px;
// }

.box-live-example {
  padding: $spacing-100;
  margin-top: $spacing-300;
  background-color: $white;
  position: relative;
  border-radius: $radius;
  button {
    border-radius: 0;
    // border: 1px solid $grey-light;
    border-bottom: none;
    &:first-child {
      border-top-left-radius: $radius;
    }
    &:last-child {
      border-bottom-right-radius: $radius;
      border-right: none;
    }
  }
}

.box-code {
  padding: $spacing-100;
  margin-bottom: 0;
  border-top: 1px solid $grey-light;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  background: $light;
}

.show-code {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0;
  border-top-left-radius: $radius;
}
