/* Box
   ========================================================================== */

.box {
  margin-bottom: $spacing-200;
}

.box-live-example {
  background-color: $white;
}

.box-code {
  border: 1px solid #cbd2db;
  padding: $spacing-200;
}

.box-code:hover {
  border-color: $secondary;
}