/* Code style. Codepen buttons
   ========================================================================== */

/* Everything related to code/iframe/codepen etc... */
/* ods-content */

pre {
  max-height: 600px;
  overflow-y: auto;

  /* Hide scrollbar */
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &[class*=language-] {
    margin: inherit;
  }
}

.content pre {
  padding: 0;
}

.highlight pre {
  background-color: transparent;
  border-radius: $radius;
  max-width: calc(100vw - 400px) !important;
}

/* ods-theme */


/* Colors for ODS Templates theme */
.theme-colors {
  list-style: none;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    .color {
      display: flex;
      align-items: center;

      .color-preview {
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid black;
        border-radius: 3px;
        margin-right: 7px;
      }
    }
  }

  .highlight {
    padding: 0;
    margin: 0 5px;

    pre {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      code {
        padding: 0 5px;
      }
    }
  }
}
