/*
  Structure :
  -----------

  section.resources > div > .content
    is the presentation of the resource (root index.md of a resource)

  section.resources > div > article.block > .content
    is the presentation of the code block (index.md in a resource sub folder)
 */


section.resources > div > article.block > .content {
  h4.title {
    margin-top: 1.8rem;
    margin-bottom: 0.9rem;
  }

  .highlight {
    margin: 0;
    background-color: #f5f5f5;
  }
}

section.resources .content {
  &.apps {
    p img {
      max-width: 600px;
      margin: 0 auto 40px;
      display: block;
    }
  }
}




.resources .block:not(:last-child) {
  padding-bottom: 3rem;
}

h2 {
  a.is-link {
    img {
      height: 16px;
      width: 16px;
      margin: 0 $spacing-100 * 2/3;
      opacity: 0;
    }
  }

  &:hover a.is-link img {
    opacity: 1;
  }
}

.codelibrary-content {
  padding-left: $column-gap * 2;
  padding-right: $column-gap * 2;
}

@media screen and (min-width: $desktop) {
  .codelibrary-content {
    padding-left: $column-gap;
    padding-right: $column-gap * 3;
  }
}

strong {
  font-weight: 600;
}