/* Content
   ========================================================================== */
.resources .block:not(:last-child) {
  padding-bottom: 3rem;
}

h2 {
  a.is-link {
    img {
      height: 16px;
      width: 16px;
      margin: 0 $spacing-100 * 2/3;
      opacity: 0;
    }
  }

  &:hover a.is-link img {
    opacity: 1;
  }
}

.codelibrary-content {
  padding-left: $column-gap * 2;
  padding-right: $column-gap * 2;
}

@media screen and (min-width: $desktop) {
  .codelibrary-content {
    padding-left: $column-gap;
    padding-right: $column-gap * 3;
  }
}

strong {
  font-weight: 600;
}