/* Content
   ========================================================================== */
.resources .block:not(:last-child) {
  padding-bottom: 3rem;
}

//.content {
//  blockquote {
//    padding: 0.75em;
//  }

  //   margin-top: $spacing-300;
  //
  //   h1, h2, h3, h4, h5, h6 {
  //     font-weight: 500;
  //   }
  //
  //   p {
  //     font-weight: 400;
  //     line-height: 1.7;
  //   }
  //
  //   h1 {
  //     font-size: $size-1;
  //     color: $title-color;
  //   }
  //   h2 {
  //     font-size: $size-2;
  //     color: $title-color;
  //   }
//}

img {
  max-width: 300px;
}

h2 {
  a.is-link {
    img {
      height: 16px;
      width: 16px;
      margin: 0 $spacing-100 * 2/3;
      opacity: 0;
    }
  }

  &:hover a.is-link img {
    opacity: 1;
  }
}

.codelibrary-content {
  padding-left: $column-gap * 2;
  padding-right: $column-gap * 2;
}

@media screen and (min-width: $desktop) {
  .codelibrary-content {
    padding-left: $column-gap;
    padding-right: $column-gap * 3;
  }
}
