.icon svg {
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.button.is-rounded .icon:first-child:last-child {
  margin-left: calc(-1em - 0.25em);
  margin-right: calc(-1em - 0.25em)
}
