.icon svg {
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  height: 100%;
  width: 100%;
}

.button {

  .icon,
  .icon.is-small,
  .icon.is-medium,
  .icon.is-large {
    height: 1em;
    width: 1em;
  }

  &.is-rounded {
    padding: calc(1em + 0.25em);
    
    &:first-child:last-child {
      margin-left: calc(-1em - 0.25em + 1px);
      margin-right: calc(-1em - 0.25em + 1px);
    }
  }


}
