/* Tag
   ========================================================================== */

.tag:not(body) {
  font-size: .833rem;
  height: 1.866rem;
  padding-right: $spacing-100;
  transition: all .2s;
}

a.tag:not(body):hover {
  text-decoration: none;
  background-color: #C9E0F5;
}

.tag.pill {
  height: unset;
  line-height: unset;
  padding: 1px 5px;
}
