/* Van11ty Tabs */

.button {
  &.js-tablist__item {
    padding: 0;
    height: 2.5em;

    a {
      padding: 0.7em 1em;
      color: $button-text-color;

      &:focus {
        outline: transparent;
      }
    }
  }
}

.js-tabcontent {
  display: none;

  &.is-active {
    display: inherit;
  }
}