/* Van11y Tabs
   ========================================================================== */

.js-tablist__item {
  padding: 0;
  height: auto;
  &.button.is-active {
    background-color: $primary;
    color: $white;
  }
}

.js-tablist__link {
  color: inherit;
  padding: $button-padding-vertical $button-padding-horizontal;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }
}

.js-tablist__link,
.js-tablist__link:hover {
  color: inherit;
}

.js-tablist__link:focus {
  outline: 0;
}

.js-tabcontent {
  display: none;

  &.is-active {
    display: inherit;
  }
}