/* Pages that use the list.html layout
   ========================================================================== */

.home-results {
  display: grid;
  row-gap: 20px;
}

@media (min-width: $tablet) {
  .home-results {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

