<!--<nav class="ods-front-header" role="navigation" aria-label="Main navigation">
    <div class="ods-header">
      <div class="ods-header__brand">
        <div class="ods-header__menu-toggle ods-header__menu-toggle&#45;&#45;hidden"></div>
        <a href="/"
            id="btn-logo">
            <img src="/img/ods-logo-helphub.svg" class="ods-header__logo" />
        </a>
        <button type="button"
                class="ods-header__menu-toggle"
                ng-click="helphub =! helphub"
                ng-class="{'ods-header__menu-toggle&#45;&#45;active' : helphub}"
                id="helphub-button">
                Help Hub
        </button>
      </div>
      <div class="ods-header__nav"
           ng-class="{'ods-header__nav&#45;&#45;active' : helphub}">
        <div class="ods-header__nav-item">
          <a class="ods-header__nav-item-link"
              href="https://help.opendatasoft.com/">
              Help Hub
          </a>
        </div>
        <div class="ods-header__nav-item">
          <a class="ods-header__nav-item-link"
              href="https://help.opendatasoft.com/platform/en/">
              User guide
          </a>
        </div>
        <div class="ods-header__nav-item">
          <a class="ods-header__nav-item-link ods-header__nav-item-link&#45;&#45;active"
              href="/">
              Discovery
          </a>
        </div>
        <div class="ods-header__nav-item">
          <a class="ods-header__nav-item-link"
              href="https://help.opendatasoft.com/faq-glossary/en/">
              FAQ
          </a>
        </div>
        <div class="ods-header__nav-item">
          <a class="ods-header__nav-item-link"
              href="https://help.opendatasoft.com/widgets/">
              Widgets
          </a>
        </div>
        <div class="ods-header__nav-item">
          <a class="ods-header__nav-item-link"
              href="https://help.opendatasoft.com/en/apis/">
              APIs
          </a>
        </div>
        <div class="ods-header__nav-item">
          <a class="ods-header__nav-item-link"
              href="https://academy.opendatasoft.com/page/homepage">
              Academy
          </a>
        </div>
      </div>
    </div>
</nav>-->


<nav class="navbar navbar-expand-lg navbar-light is-fixed-top" role="navigation" aria-label="Main navigation">
    <div class="navbar-brand">
        <a class="navbar-item"
           href="/"
           title="Back to the homepage">
            <img src="/img/ods-logo-helphub.svg"
                 alt="Helphub Logo"/>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#helphubNavbar"
            aria-controls="helphubNavbar" aria-expanded="false" aria-label="Toggle navigation">
        Help Hub
    </button>
    <div class="collapse navbar-collapse" id="helphubNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://help.opendatasoft.com/">
                    Help Hub
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://help.opendatasoft.com/platform/en/">
                    User guide
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link is-active" href="https://discovery.opendatasoft.com">
                    Code Library
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://help.opendatasoft.com/faq-glossary/en/">
                    FAQ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://help.opendatasoft.com/widgets/">
                    Widgets
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://help.opendatasoft.com/en/apis/">
                    APIs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://academy.opendatasoft.com/page/homepage">
                    Academy
                </a>
            </li>
        </ul>
    </div>
    </div>
</nav>