<div class="ods-header">
    <div class="ods-header__brand">
        <div class="ods-header__menu-toggle ods-header__menu-toggle--hidden"></div>
        <a href="/"
           id="btn-logo">
            <img src="https://discovery.opendatasoft.com/assets/theme_image/ODS-Help-Hub.svg"
                 classes="ods-header__logo" />
        </a>
    </div>
    <div class="ods-header__nav">
        <div class="ods-header__nav-item">
            <a class="ods-header__nav-item-link"
               href="https://help.opendatasoft.com/">
                Help Hub
            </a>
        </div>
        <div class="ods-header__nav-item">
            <a class="ods-header__nav-item-link"
               href="https://help.opendatasoft.com/platform/en/">
                User guide
            </a>
        </div>
        <div class="ods-header__nav-item">
            <a class="ods-header__nav-item-link ods-header__nav-item-link--active"
               href="https://discovery.opendatasoft.com">
                Discovery
            </a>
        </div>
        <div class="ods-header__nav-item">
            <a class="ods-header__nav-item-link"
               href="https://help.opendatasoft.com/faq-glossary/en/">
                FAQ
            </a>
        </div>
        <div class="ods-header__nav-item">
            <a class="ods-header__nav-item-link"
               href="https://help.opendatasoft.com/widgets/">
                Widgets
            </a>
        </div>
        <div class="ods-header__nav-item">
            <a class="ods-header__nav-item-link"
               href="https://help.opendatasoft.com/en/apis/">
                APIs
            </a>
        </div>
        <div class="ods-header__nav-item">
            <a class="ods-header__nav-item-link"
               href="https://academy.opendatasoft.com/page/homepage">
                Academy
            </a>
        </div>
    </div>
</div>