<nav class="navbar is-fixed-top"
     role="navigation"
     aria-label="Main navigation">
    <div class="navbar-brand">
        <a class="navbar-item"
           href="/"
           title="Back to the homepage">
            <img src="/img/ods-logo-helphub.svg"
                 alt="Helphub Logo"/>
        </a>
        <button class="navbar-burger burger"
                type="button"
                data-toggle="collapse"
                data-target="#helphubNavbar"
                aria-controls="helphubNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            Help Hub
        </button>
    </div>
    <div class="navbar-menu"
         id="helphubNavbar">
        <div class="navbar-start">
            <a class="navbar-item"
               href="https://help.opendatasoft.com/">
                Help Hub
            </a>
            <a class="navbar-item"
               href="https://help.opendatasoft.com/platform/en/">
                User guide
            </a>
            <a class="navbar-item is-active"
               href="https://discovery.opendatasoft.com">
                Code Library
            </a>
            <a class="navbar-item"
               href="https://help.opendatasoft.com/faq-glossary/en/">
                FAQ
            </a>
            <a class="navbar-item"
               href="https://help.opendatasoft.com/widgets/">
                Widgets
            </a>
            <a class="navbar-item"
               href="https://help.opendatasoft.com/en/apis/">
                APIs
            </a>
            <a class="navbar-item"
               href="https://academy.opendatasoft.com/page/homepage">
                Academy
            </a>
        </div>
    </div>
</nav>