<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://static.opendatasoft.com/ods-widgets/latest/ods-widgets.css">

<!-- ODS Platform CSS - must be hosted on static : WIP -->
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4124551/ods.css">
<link rel="stylesheet" href="/css/theme.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/i18n/angular-locale_fr-fr.js"></script>
<script type="text/javascript" src="https://static.opendatasoft.com/ods-widgets/latest/ods-widgets.js"></script>

<script type="text/javascript" src="/js/platform-filters.js"></script>
<script type="text/javascript" src="/js/ods-catalog-card.js"></script>

<script type="text/javascript">
    angular.module('ods-widgets').config(function(ODSWidgetsConfigProvider) {
        ODSWidgetsConfigProvider.setConfig({
            "basemaps": [
                {
                    "provider": "jawg.light",
                    "label": "Jawg Light",
                    "jawg_apikey": "opendatasoft-community"
                }
            ],
            "mapPrependAttribution": "Jawg apikey NOT suitable for production"
        });
    });
</script>


