<h1>Partial nav</h1>

<input type="text" id="algolia-box">
<div id="algolia-results"></div>
<div id="algolia-refine"></div>

<input type="text" id="search-box">
<ul id="search-results-box"></ul>

<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
        <h4><a href="${link}">${title}</a></h4>
        <p>${snippet}</p>
        ${ isset tags }<p>Tags: ${tags}</p>${ end }
        ${ isset categories }<p>Categories: ${categories}</p>${ end }
        ${ isset score }<p>Score: ${score}</p>${ end }
    </div>
</script>

<h2>
    <a href="{{ .Site.BaseURL }}">Home</a>
</h2>

<h2>Categories</h2>
<ul>
    {{ range .Site.Taxonomies.categories }}
    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
    {{ end }}
</ul>

<h2>Tags</h2>

<ul>
    {{ range .Site.Taxonomies.tags }}
    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
    {{ end }}
</ul>
