<h1>Partial nav</h1>

<input type="text" id="algolia-box">
<div id="algolia-results"></div>
<div id="algolia-refine"></div>

<h2>
    <a href="{{ .Site.BaseURL }}">Home</a>
</h2>

<h2>Categories</h2>
<ul>
    {{ range .Site.Taxonomies.categories }}
    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
    {{ end }}
</ul>

<h2>Tags</h2>

<ul>
    {{ range .Site.Taxonomies.tags }}
    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
    {{ end }}
</ul>
