{{ $html := path.Join .File.Dir "html.inc" | readFile }}
{{ $css := path.Join .File.Dir "css.inc" | readFile }}
{{ $head := "/layouts/partials/includes.html" | readFile }}

{{ $htmlcontent := "" }}

{{ if (and .Params.domainid .Params.datasetid) }}
    {{ $openctx := printf "%s%s%s%s%s" "<ods-dataset-context context=\"ctx\"\n ctx-dataset=\"" .Params.datasetid "\"\n ctx-domain=\"" .Params.domainid "\">\n" }}
    {{ $closectx := "</ods-dataset-context>\n" }}
    {{ $htmlcontent = printf "%s%s%s%s%s%s%s" "<div ng-app=\"ods-widgets\">\n" $openctx "\n" $html "\n" $closectx "</div>" }}
{{ else }}
    {{ $htmlcontent = printf "%s%s%s" "<div ng-app=\"ods-widgets\">\n" $html "</div>" }}
{{ end }}

<div class="codepen">
    <form id="form-{{ .Title | anchorize}}"
          action="https://codepen.io/pen/define"
          method="POST"
          target="_blank">
        <input type="hidden"
               name="data"
               value='{
                 "title": "New Pen!",
                 "head": {{ $head | jsonify }},
                 "editors": 110,
                 "html": {{ $htmlcontent | jsonify }},
                 "css": {{ $css | jsonify }}
               }'>
    </form>
</div>
<div class="ods-content">
    <section class="box-live-example">
      <iframe id="iframe-{{ .Title | anchorize }}"
              width="100%" height="100%"
              src="about:blank"
              srcdoc="
                <head>{{ $head }}</head>
                <body>
                <div ng-app='ods-widgets'>{{ $htmlcontent }}</div>
                <style type='text/css'>
                    {{ $css }}
                </style>
                </body>
              ">
      </iframe>
      <div class="show-code buttons has-addons">
          <button class="button is-outlined">
            <span>Show code</span>
          </button>
          <button class="button is-outlined"
             target="_blank"
             aria-role="link"
             rel="noopener"
             title="Edit on CodePen, open a new tab"
             onclick="document.getElementById('form-{{ .Title | anchorize}}').submit()">
              <span>Edit on Codepen</span>
          </button>
      </div>
    </section>
    <section class="box-code js-tabs is-hidden">
        <nav class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <ul class="buttons has-addons js-tablist">
                        <li class="button is-secondary is-outlined js-tablist__item">
                            <a class="js-tablist__link"
                               href="#code-{{ .Title | anchorize }}-html-content">
                                HTML
                            </a>
                        </li>
                        {{ if gt (len $css) 0 }}
                        <li class="button is-secondary is-outlined js-tablist__item">
                            <a class="js-tablist__link"
                               href="#code-{{ .Title | anchorize }}-css-content">
                                CSS
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="level-right">
                <button class="copy-to-cc button is-primary is-outlined is-rounded has-tooltip-left"
                  data-tooltip="Copy to clipboard"
                  aria-role="button"
                  title="Edit on CodePen, open a new tab"
                >
                  <!-- <figure class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                      <use xlink:href="#copy"></use>
                    </svg>
                  </figure> -->
                  <figure class="icon image is-16x16">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy">
                      <use xlink:href="#copy"></use>
                    </svg>
                  </figure>
                </button>
                <button class="copied-to-cc button is-success is-outlined is-rounded has-tooltip-left is-hidden"
                  data-tooltip="Copied"
                  aria-role="button"
                  title="Copied"
                >
                  <figure class="icon image is-16x16">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy">
                      <use xlink:href="#check"></use>
                    </svg>
                  </figure>
                </button>
            </div>
        </nav>
        <div class="tab-content">
            <div class="js-tabcontent"
                 id="code-{{ .Title | anchorize }}-html-content"
                 data-clipboard="{{ $html }}">
                <div class="highlight">
                    <pre class="language-html" data-lang="html"><code>{{ $html }}</code></pre>
                </div>
            </div>
            {{ if gt (len $css) 0 }}
            <div class="js-tabcontent"
                 id="code-{{ .Title | anchorize }}-css-content"
                 data-clipboard="{{ $css }}">
                <div class="highlight">
                    <pre class="language-css" data-lang="css"><code>{{ $css }}</code></pre>
                </div>
            </div>
            {{ end }}
        </div>
    </section>
</div>

<!-- <script type="text/javascript">
    window.addEventListener("DOMContentLoaded", () => {
        var loopId = setInterval(() => {
            iframeId = "iframe-{{ .Title | anchorize}}";
            iframe = document.getElementById(iframeId);
            /*iframe.height = 1;*/
            size = {{ .Params.height }}
            /*console.log("loop for " + iframeId);*/
            if (iframe != undefined && iframe.contentWindow.document.body != undefined){
                scrollHeight = parseInt(iframe.contentWindow.document.body.scrollHeight);
                if (iframe.height == size) {
                    clearInterval(loopId);
                } else {
                    iframe.height = size > 1 ? size : scrollHeight;
                }
            }
        }, 1000);
    });
</script>


<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", () => {
        var loopId = setInterval(() => {
            iframeId = "iframe-{{ .Title | anchorize}}";
            iframe = document.getElementById(iframeId);

            if (iframe != undefined && iframe.contentWindow.document.body != undefined){
                scrollHeight = parseInt(iframe.contentWindow.document.body.scrollHeight);
            }
        }, 1000);
    });
</script> -->
