{{ $header := path.Join .File.Dir "header.html.inc" | readFile }}
{{ $footer := path.Join .File.Dir "footer.html.inc" | readFile }}
{{ $stylesheet := path.Join .File.Dir "stylesheet.css.inc" | readFile }}

<div class="ods-content">
    <section class="box box-live-example">
        <iframe id="iframe-{{ .Page.Title | urlize}}" width="100%" height="600px"
                src="{{ .Page.Params.iframe }}">
        </iframe>
    </section>

    <section class="box box-code js-tabs">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <ul class="buttons has-addons js-tablist">
                        <li class="button is-secondary is-outlined js-tablist__item">
                            <a class="js-tablist__link"
                               href="#code-{{ .Page.Title | urlize}}-colors-content">
                                Colors
                            </a>
                        </li>
                        <li class="button is-secondary is-outlined js-tablist__item">
                            <a class="js-tablist__link"
                               href="#code-{{ .Page.Title | urlize}}-header-content">
                                Header
                            </a>
                        </li>
                        <li class="button is-secondary is-outlined js-tablist__item">
                            <a class="js-tablist__link"
                               href="#code-{{ .Page.Title | urlize}}-footer-content">
                                Footer
                            </a>
                        </li>
                        <li class="button is-secondary is-outlined js-tablist__item">
                            <a class="js-tablist__link"
                               href="#code-{{ .Page.Title | urlize}}-css-content">
                                Stylesheet
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="js-tabcontent"
                 id="code-{{ .Page.Title | urlize}}-colors-content"
                 role="tabpanel">
                <div class="columns">
                    <div class="column">
                        <ul class="theme-colors">
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.text }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.text }}</code></pre>
                                    </div>
                                    <span class="color-title">Text</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.links }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.links }}</code></pre>
                                    </div>
                                    <span class="color-title">Links</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.titles }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.titles }}</code></pre>
                                    </div>
                                    <span class="color-title">Titles</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.pagebackground }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.pagebackground }}</code></pre>
                                    </div>
                                    <span class="color-title">Page Background</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.highlight }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.highlight }}</code></pre>
                                    </div>
                                    <span class="color-title">Highlight</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.boxesbackground }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.boxesbackground }}</code></pre>
                                    </div>
                                    <span class="color-title">Boxes background</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.boxesborder }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.boxesborder }}</code></pre>
                                    </div>
                                    <span class="color-title">Boxes border</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul class="theme-colors">
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.sectiontitles }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.sectiontitles }}</code></pre>
                                    </div>
                                    <span class="color-title">Section Titles</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.sectiontitlesbackground }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.sectiontitlesbackground }}</code></pre>
                                    </div>
                                    <span class="color-title">Section titles background</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.headerbackground }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.headerbackground }}</code></pre>
                                    </div>
                                    <span class="color-title">Header Background</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.headerlinks }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.headerlinks }}</code></pre>
                                    </div>
                                    <span class="color-title">Links in the header</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.footerbackground }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.footerbackground }}</code></pre>
                                    </div>
                                    <span class="color-title">Footer background</span>
                                </div>
                            </li>
                            <li>
                                <div class="color">
                                    <span class="color-preview"
                                          style="background-color:{{ .Page.Params.footerlinks }}"></span>
                                    <div class="highlight">
                                        <pre><code>{{ .Page.Params.footerlinks }}</code></pre>
                                    </div>
                                    <span class="color-title">Links in the footer</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="js-tabcontent"
                 id="code-{{ .Page.Title | urlize}}-header-content">
                <div class="highlight">
                    <pre class="language-html" data-lang="html"><code>{{ $header }}</code></pre>
                </div>
            </div>
            <div class="js-tabcontent"
                 id="code-{{ .Page.Title | urlize}}-footer-content">
                <div class="highlight">
                    <pre class="language-html" data-lang="html"><code>{{ $footer }}</code></pre>
                </div>
            </div>
            <div class="js-tabcontent"
                 id="code-{{ .Page.Title | urlize}}-css-content">
                <div class="highlight">
                    <pre class="language-css" data-lang="css"><code>{{ $stylesheet }}</code></pre>
                </div>
            </div>
        </div>
    </section>
</div>
