<div class="quickfill">
  {{ range $label, $default := . }}
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">{{ $label }}</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            class="input is-primary"
            data-default="{{ $default }}"
            data-label="{{ $label }}"
            type="text"
            placeholder="{{ $default }}"
          />
        </p>
      </div>
    </div>
  </div>
  {{ end }}
</div>
