{{ $html := path.Join .Page.File.Dir "html.inc" | readFile }}
{{ $css := path.Join .Page.File.Dir "css.inc" | readFile }}

<div class="codepen">
    {{ $htmlcontent := printf "%s%s%s" "<div ng-app=\"ods-widgets\">\n" $html "</div>" }}
    {{ $csscontent := $css }}
    {{ $head := "/layouts/partials/includes.html" | readFile | jsonify }}

    <form id="form-{{ .Page.Title | urlize}}"
          action="https://codepen.io/pen/define"
          method="POST"
          target="_blank">
        <input type="hidden"
               name="data"
               value='{
               "title": "New Pen!",
               "head": {{ $head }},
               "editors": 110,
               "html": {{ $htmlcontent | jsonify }},
               "css": {{ $csscontent | jsonify }} }'>
    </form>
</div>

<div class="ods-content">
    <section class="box box-live-example">
        <iframe id="iframe-{{ .Page.Title | urlize}}"
                width="100%" height="600px"
                src="about:blank"
                srcdoc="
                <head>{{ "/layouts/partials/includes.html" | readFile }}
        {{ $style := resources.Get "scss/main.scss" | resources.ToCSS }}
        <!--link rel='stylesheet' href='{{ $style.RelPermalink }}' /-->
        </head>
        <body>
        <div ng-app='ods-widgets'>
            {{ $html }}
        </div>
        <style type='text/css'>
            {{ $css }}
        </style>
        </body>
        ">
        </iframe>
    </section>

    <section class="box box-code js-tabs">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <ul class="buttons has-addons js-tablist">
                        <li class="button is-rounded js-tablist__item">
                            <a class="js-tablist__link"
                               href="#code-{{ .Page.Title | urlize}}-html-content">
                                HTML
                            </a>
                        </li>
                        <li class="button is-rounded js-tablist__item">
                            <a class="js-tablist__link"
                               href="#code-{{ .Page.Title | urlize}}-css-content">
                                CSS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="level-right">
                <a class="button is-rounded is-outlined"
                   target="_blank"
                   rel="noopener"
                   href="#"
                   title="Edit on CodePen"
                   onclick="document.getElementById('form-{{ .Page.Title | urlize}}').submit()">
                    Edit on Codepen
                </a>
            </div>
        </nav>


        <div class="tab-content">
            <div class="js-tabcontent"
                 id="code-{{ .Page.Title | urlize}}-html-content">
                <div class="highlight">
                    <pre class="language-html" data-lang="html"><code>{{ $html }}</code></pre>
                </div>
            </div>
            <div class="js-tabcontent"
                 id="code-{{ .Page.Title | urlize}}-css-content">
                <div class="highlight">
                    <pre class="language-css" data-lang="css"><code>{{ $css }}</code></pre>
                </div>
            </div>
        </div>
    </section>
</div>

